.home {
    margin-top: 55px;
}

h1 {
    font-size: 48px;
}

p {
    margin-top: 10px;
    color: rgb(94, 91, 91);
}

.read-more {
    margin-top: 13.5px;
    border-radius: 12px;
}

svg {
    margin-left: 5px;
    float: right;
}

.home-bg {
    width: 600px;
    margin-top: -100px;
    margin-left: 12px;
}

@media(max-width: 991px) {
    .home-bg {
        display: none;
    }
}